@layer base {
    :root {
        /*
   * Theme Tokens
   */
        /* Primary */
        --p-color-primary-50: var(--p-color-indigo-50);
        --p-color-primary-100: var(--p-color-indigo-100);
        --p-color-primary-200: var(--p-color-indigo-200);
        --p-color-primary-300: var(--p-color-indigo-300);
        --p-color-primary-400: var(--p-color-indigo-400);
        --p-color-primary-500: var(--p-color-indigo-500);
        --p-color-primary-600: var(--p-color-indigo-600);
        --p-color-primary-700: var(--p-color-indigo-700);
        --p-color-primary-800: var(--p-color-indigo-800);
        --p-color-primary-900: var(--p-color-indigo-900);
        --p-color-primary-950: var(--p-color-indigo-950);
        /* Success */
        --p-color-success-50: var(--p-color-lime-50);
        --p-color-success-100: var(--p-color-lime-100);
        --p-color-success-200: var(--p-color-lime-200);
        --p-color-success-300: var(--p-color-lime-300);
        --p-color-success-400: var(--p-color-lime-400);
        --p-color-success-500: var(--p-color-lime-500);
        --p-color-success-600: var(--p-color-lime-600);
        --p-color-success-700: var(--p-color-lime-700);
        --p-color-success-800: var(--p-color-lime-800);
        --p-color-success-900: var(--p-color-lime-900);
        --p-color-success-950: var(--p-color-lime-950);
        /* Warning */
        --p-color-warning-50: var(--p-color-yellow-50);
        --p-color-warning-100: var(--p-color-yellow-100);
        --p-color-warning-200: var(--p-color-yellow-200);
        --p-color-warning-300: var(--p-color-yellow-300);
        --p-color-warning-400: var(--p-color-yellow-400);
        --p-color-warning-500: var(--p-color-yellow-500);
        --p-color-warning-600: var(--p-color-yellow-600);
        --p-color-warning-700: var(--p-color-yellow-700);
        --p-color-warning-800: var(--p-color-yellow-800);
        --p-color-warning-900: var(--p-color-yellow-900);
        --p-color-warning-950: var(--p-color-yellow-950);
        /* Danger */
        --p-color-danger-50: var(--p-color-red-50);
        --p-color-danger-100: var(--p-color-red-100);
        --p-color-danger-200: var(--p-color-red-200);
        --p-color-danger-300: var(--p-color-red-300);
        --p-color-danger-400: var(--p-color-red-400);
        --p-color-danger-500: var(--p-color-red-500);
        --p-color-danger-600: var(--p-color-red-600);
        --p-color-danger-700: var(--p-color-red-700);
        --p-color-danger-800: var(--p-color-red-800);
        --p-color-danger-900: var(--p-color-red-900);
        --p-color-danger-950: var(--p-color-red-950);
        /* Neutral */
        --p-color-neutral-50: var(--p-color-gray-50);
        --p-color-neutral-100: var(--p-color-gray-100);
        --p-color-neutral-200: var(--p-color-gray-200);
        --p-color-neutral-300: var(--p-color-gray-300);
        --p-color-neutral-400: var(--p-color-gray-400);
        --p-color-neutral-500: var(--p-color-gray-500);
        --p-color-neutral-600: var(--p-color-gray-600);
        --p-color-neutral-700: var(--p-color-gray-700);
        --p-color-neutral-800: var(--p-color-gray-800);
        --p-color-neutral-900: var(--p-color-gray-900);
        --p-color-neutral-950: var(--p-color-gray-950);
    }
}