@layer base {
    :root {
         /*
   * Spacings
   */
   --p-spacing-3x-small: 0.125rem;
   /* 2px */
   --p-spacing-2x-small: 0.25rem;
   /* 4px */
   --p-spacing-x-small: 0.5rem;
   /* 8px */
   --p-spacing-small: 0.75rem;
   /* 12px */
   --p-spacing-medium: 1rem;
   /* 16px */
   --p-spacing-large: 1.25rem;
   /* 20px */
   --p-spacing-x-large: 1.75rem;
   /* 28px */
   --p-spacing-2x-large: 2.25rem;
   /* 36px */
   --p-spacing-3x-large: 3rem;
   /* 48px */
   --p-spacing-4x-large: 4.5rem;
   /* 72px */
    }
}